.header {
  margin-top: 40px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 120px;
}
.header-menu,
.header-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.menu {
  position: relative;
}
.menu::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -5px;
  width: 0;
  height: 4px;
  transition: 0.5s;
  background-color: var(--cP);
}
.menu:hover::after {
  width: 100%;
}
.hamburguer-ativo {
  display: none;
}

@media (max-width: 1024px) {
  /* Estilos para tablets */
  .header {
    margin-bottom: 60px;
    gap: 20px;
  }
  .header-menu,
  .header-menu ul {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  /* Estilos para smartphones */
  .header {
    justify-content: space-between;
  }
  .hamburguer {
    display: none;
  }
  .hamburguer-ativo {
    display: block;
    justify-items: end;
  }
}
