.introducao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 60px;
  padding: 0 20px;
  margin-bottom: 120px;
}

.introducao h1 {
  margin-bottom: 10px;
}

.introducao span {
  font-weight: 600;
}

.introducao-info {
  display: grid;
  place-items: start;
}

.ver-mais {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 1024px) {
  .introducao {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .introducao {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .introducao-img {
    display: none;
  }
}
